body {
  text-align:center;
  background-color: rgb(24, 22, 22);
}

#grid {
  width: 570px;
  height: 570px;
  float: left;
}

#container {
  display: inline-block;
}

ul {
  text-align: left;
  list-style: none;
  color:white;
}

li {
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e5e5;
  color: white;
}

#title {
  margin-bottom: 0px;
  color: white;
}


p {
  margin-top: 5px;
  color:white
}

button {
  margin-bottom: 10px;
}

.cell {
  width: 15px;
  height: 15px;
  float: left;
  border-style: outset;
  border-width: 2px;
}

h1 {
  color:white;
  font-size:larger;
}